* {
    box-sizing:border-box;
    margin: 0;
}

/* HEADER */

header {
    height: 5vh;
    background-color: black;
    
}

h1 {
    color: white;
    font-size: 2vh;
    padding: 2px;
}

/* MAIN */

.searchbar {
    background-color: brown;
    background-image: url("/images/backgroundsearch.jpg");
    background-size: cover;
    height: 25vh;
    display: grid;
    justify-content: center;
    align-items: center;

}

input {
    padding: 1.5vh;
    border-radius: 1vh;
    border-style: none;
}

#menu-items {
    height: 20vh;
    background-color: #E6D9CA;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2vh;
}

.long-lat {
    background-color: #E6D9CA;
}

.distance {
    background-color: aquamarine;
}

/*
#button1
 {
    background-color:bisque;
    border-style:none;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0.5vh;
} */

button {
    background-color: white;
    border-radius: 50vh;
    border-style: none;
    height: 8vh;
    margin: 0.5vh;
}

#search {
    background-color: white;
    border-radius: 1vh;
    border-style: none;
    padding: 0.5vh;
    width: 15vh;
    margin: 1vh;
    align-items: center;
    justify-content: center;
    display: grid;
}

.long-lat {
    display: grid;
    align-items: center;
    justify-content: center;
}

.iconify {
    font-size: 4vh;
}

#restaurant-names {
    background-color:  #E6D9CA;
    padding: 2vh;
}

ul {
    padding: 0;
}

li {
    background-color: white;
    margin: 2vh;
    padding: 5vh;
    border-radius: 0.2rem;
    list-style: none;
} 