* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


/* HEADINGS, PARAGRAPHS, FONTS - SAME FOR ALL PAGES */

h1 {
    color: white;
    font-size: 2vh;
    padding: 2px;
}

h2 {
    font-size: 2.5vh;
}

h3 {
    font-size: 1.5vh;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: 400;
}

p, h2, h3 {
    margin: 0.5vh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

/* MAIN */

body{
    background-color: #dbd7d7;
}

/* Choose city */

.searchbar {
    background-image: url("/images/background.jpg");
    background-size: cover;
    height: 50vh;
    display: grid;
    grid-auto-columns: 2fr;
    justify-content: center;
    align-items: center;

}

#states {
    border-radius: 1vh;
    border-style: none;
    padding: 2vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 19vh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

img {
    margin-left: 10vh;
    margin-top: 8vh;
}

input {
    padding: 1.5vh;
    border-radius: 1vh;
    border-style: none;
    justify-content: center;
    align-items: center;
    background-color: #EFEDED;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

option {
    background-color: #EFEDED;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

/* Choose cuisines */

#menu-items {
    height: 10vh;
    background-color: #dbd7d7; 
    display: grid;
    justify-content: center;
    padding: 3vh;

    list-style: none;
    grid-auto-flow: column;
    grid-auto-columns: 16.5%;
    gap: 1.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 100;
}

/* Cuisines buttons & Slider */

button {
    background-color: #fcfcfc;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 50vh;
    border-style: none;
    height: 8vh;
    width: 8vh;
    margin-left: 17vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
}


#menu-items::-webkit-scrollbar {
    display:none;
   }

.iconify {
    font-size: 4vh;
}

/* Show resturants */

#restaurant-names {
    background-color: #dbd7d7; 
    padding: 2vh;
    padding-left: 0vh;

}

ul {
    display: grid;
    width: 100%;
    background-color: #fcfcfc;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2vh;
    border-radius: 1vh;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
}

li {
    background-color:#fcfcfc;
    margin: 2vh;
    padding: 1vh;
    border-radius: 0.2rem;
    list-style: none;
} 

.map {
    font-size: 2vh;
}

.imagediv {
   background-image: url("/images/backgroundsearch.jpg");
   background-size: cover;
   width: 100%;
}



