*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;

}

ul.categories {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 16.5%;
    gap: 0.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categories::-webkit-scrollbar {
 display:none;
}

li{
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: .75rem;
    scroll-snap-align: start;
}